/* App.css */
.app-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  /* Add transition for smoother animation */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
}

.submit-button,
.view-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.submit-button {
  padding: 10px 20px;
  margin: 0 10px;
  width: auto;
}

.view-button {
  padding: 10px 20px;

  margin: 0 10px;
}

.submit-button:hover,
.view-button:hover {
  background-color: #0056b3;
}